@import "./partials/bootsrap-override";

svg {
  fill: #a7a7a7;
}

#playBtn {
  fill: black;
}

#playMobile {
  fill: white;
}
#homeContainer {
  top: 16px;
}
#libreryContainer {
  top: 135px;
}
#header {
  top: 16px;
}

#socialContainer {
  top: 16px;
}

#main {
  max-height: 85vh;
  margin-bottom: 120px;
  overflow: auto;
}

span {
  color: grey;
}

#library {
  max-height: 71vh;
}

body {
  overflow-y: hidden;
}
