@import "./partials/bootsrap-override";

// homestyle.scss

svg {
    fill: #A7A7A7
}

#homeContainer {
    top: 16px;
}

#libreryContainer {
    top: 135px;
}


#socialContainer {
    top: 16px;
}

#main {
    margin-bottom: 100px;
    // height: 100vh;
    overflow: auto;
}

// search.scss

#input-search {
    max-width: 35%;
}

#input-search:hover {
    box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .2)
}

#search-section {
    max-height: calc(100vh - 200px);
    .card-img-top {
        cursor: pointer;
    }

    .card {
        border: none;
    }

}

.aside-search {
    max-width: 6rem;

}

#aside-scrollbar {
    top: 135px;
    min-height: 30vh;
    max-height: 70vh;
    overflow-y: auto;
}

svg:hover {
    fill: white;
    cursor: pointer;
}

.hover-white:hover {
    color: white;
    cursor: pointer;
}

.container-genres {
    .img-container {
        padding: 10px;
    }

    .img-container img {
        width: 90%;
        height: auto;
        object-fit: cover;
        cursor: pointer;
    }


}

// artist



::-webkit-scrollbar {
    width: 12px;
    background-color: $dark;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #ffffff46;
}

.container-image {
    height: 30rem;
    background-size: cover;
    margin-top: 0;
        background-position: center;
    
    

    #artist-name {
    font-size: 6rem;
}

}

#iconPlay {
    fill: #000;
    background-color: #1ed760;
    
}

#button-segui {
    border: 0.5px solid white;
    font-weight: 700;
}

 .table-hover>tbody>tr:hover>* {

     background-color: rgba(94, 94, 94, 0.233);

     cursor: pointer;
 }

 th {
    position: sticky;
        padding: 10px;
        top: 60px;
    }

         @media (max-width: 1399px) {
             .hide-on-xl {
                 display: none;
             }
         }
    
         @media screen and (max-width: 1199px) {
             .hide-on-lg {
                 display: none;
             }
         }
    
         @media screen and (max-width: 991px) {
             .hide-on-md {
                 display: none;
             }
    
    
             .playerBottom {
                 position: fixed;
                 padding-bottom: 3rem;
                 width: 100%;
             }
    
         }
    
         @media screen and (max-width: 767px) {
             .hide-on-sm {
                 display: none;
             }
    
             #aside-scrollbar,
             #homeContainer,
             #socialContainer {
                 display: none;
             }
    
    
    
             .iconLibrary {
                 display: block;
             }
    
             .ms-2>p {
                 display: none;
             }
    
             #input-search {
                 width: 300px;
             }
    
         }
    
         #header {
             background-color: #121212;
             transition: background-color 300ms;
    
             &.active {
                 background-color: #33363a;
                 transition: background-color 300ms;
             }
         }
    
         .hoverSvg:hover {
             fill: white;
         }
    
         .span {
             color: #a7a7a7;
         }
    
         .span:hover {
             color: white;
         }
    
         .playerBottom {
             position: fixed;
             bottom: 0;
             width: 100%;
             background-color: black;
         }
    
         #mobileContainer {
             position: fixed;
             width: 100%;
             bottom: 0;
             background-color: black;
         }
 



