@import "./partials/bootsrap-override";

svg{
    fill:#A7A7A7
    
}

body{
    font-family: "Circular";
    overflow-y: hidden;
}


#main{
    max-height: 85vh;
    overflow: auto;
    svg{
        fill:black
    }
}
#library{
    max-height: 71vh;
}


@media (max-width: 1399px){
    .hide-on-xl {
        display: none;

    }
}
@media screen and (max-width: 1199px){
    .hide-on-lg {
        display: none;
    }
   
}
@media screen and (max-width: 991px){
    .hide-on-md {
        display: none;
    }
    
}
@media screen and (max-width: 767px){
    .hide-on-sm {
        display: none;
    }
}


#header{
 background-color: #33363A;
//  background-color:#121212 ;
}

