@import "./partials/bootsrap-override";

svg{
    fill:#A7A7A7
    
}

#homeContainer{
    top:16px;
}
#libreryContainer{
    top: 135px;
}
#header{
    top:16px;
}

#socialContainer{
    top:16px;
}

#main{
    margin-bottom: 100px;
    // height: 100vh;
    overflow: auto;
    svg{
        fill:black
    }
}

@media (max-width: 1399px){
    .hide-on-xl {
        display: none;

    }
}
@media screen and (max-width: 1199px){
    .hide-on-lg {
        display: none;
    }
}
@media screen and (max-width: 991px){
    .hide-on-md {
        display: none;
    }
}
@media screen and (max-width: 767px){
    .hide-on-sm {
        display: none;
    }
}