@import "./partials/bootsrap-override";

span {
  color: #a7a7a7;
}

svg {
  fill: #a7a7a7;
}

svg:hover {
  fill: white;
}

#playBtn {
  fill: black;
}

#playMobile {
  fill: white;
}

body {
  font-family: "Circular";
  overflow-y: hidden;
}

#main {
  max-height: 85vh;
  overflow: auto;
  svg {
    fill: black;
  }
}
#library {
  max-height: 71vh;
}

@media (max-width: 1399px) {
  .hide-on-xl {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .hide-on-lg {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .hide-on-md {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .hide-on-sm {
    display: none;
  }
}

#header {
  background-color: #121212;
  transition: background-color 300ms;
  &.active {
    background-color: #33363a;
    transition: background-color 300ms;
  }
}

.hoverSvg:hover {
  fill: white;
}

.span {
  color: #a7a7a7;
}
.span:hover {
  color: white;
}
// ::-webkit-scrollbar {
//   width: 12px;
//   background-color: $dark;
// }

// ::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   background-color: #ffffff46;
// }
