@import "./partials/bootsrap-override";

// homestyle.scss

svg {
    fill: #A7A7A7
}

#homeContainer {
    top: 16px;
}

#libreryContainer {
    top: 135px;
}


#socialContainer {
    top: 16px;
}

#main {
    margin-bottom: 100px;
    // height: 100vh;
    overflow: auto;
}

// search.scss

#input-search {
    max-width: 35%;
}

#input-search:hover {
    box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .2)
}

#search-section {
    .card-img-top {
        cursor: pointer;
    }

    .card {
        border: none;
    }

}

.aside-search {
    max-width: 6rem;

}

#aside-scrollbar {
    top: 135px;
    max-height: 70vh;
    overflow-y: auto;
}

svg:hover {
    fill: white;
    cursor: pointer;
}

.hover-white:hover {
    color: white;
    cursor: pointer;
}

// playlist.scss

#main-playlist {

.play-playlist {
    fill: black;
    background-color: #1ED760;
}

#playlist-name{
    font-size: 4rem;
    font-weight: 600;

}

}

table{
    background-color: $table-bg;
    
    
}

  .table-hover>tbody>tr:hover>* {
    background-color: rgba(94, 94, 94, 0.233);
      cursor: pointer;
  }

  th {
      position: sticky;
      padding: 10px;
      top: 60px;
  }


.svgPlay {
      display: none;
  }

#img-playlist {
    left: 20px;
}
