@import "./partials/bootsrap-override";

svg{
    fill:#A7A7A7
    
}

#homeContainer{
    top:16px;
}
#libreryContainer{
    top: 135px;
}
#header{
    top:16px;
}

#socialContainer{
    top:16px;
}

#main{
    margin-bottom: 100px;
    // height: 100vh;
    overflow: auto;
}